/*animaciones y gradiente*/

#sale{
    grid-area: sale;
    font-size: 60px;
    text-align: center;
    margin: 0;
    background-image: radial-gradient( #f6fc9c 30%,#eaf818 74% )
    
}


/*animacion: cambio duracion*/
.animate__animated.animate__flash {
    --animate-duration: 1.5s;
  }

#envio{
    font-size: 16px;
    background-color: black;
    color:aliceblue;
    text-align: center;
    margin: 0;
    animation-duration: 5s;
    width:50%;
 
    
}