
.menuFlex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.productosFlex{
    display: flex;
  /*  flex-direction: row;*/
    flex-flow:row wrap;
}