/*fondos*/

.fondoImagen{
    background-image: url("../trabajo1/models.jpg!d");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}


footer nav{
    background-color: lightgray;
}

section{
    background-color: lightgrey;
}


.fondoFooter{
    background-color: grey;
    text-align: center;
    padding:10px
}


.fondoFormulario{
    background-image: url("../imagenes/streetwear.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    height: 690px;
}


aside{
    background-color: grey;
}


.sectionShorts{
    padding: 10px;
    margin: 5px;
  

}

.fondoEnvio{
    background-color: black;
}